toolbar-edit input {
    background: transparent;
    border: none;
    /* TODO: themed color */
    color: rgb(0,170,204);
    margin-top: 4px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

toolbar-edit input:focus {
    outline: none;
}
